/* CUSTOM STYLES HERE */

/* default (mobile) */
#map,
#addresses {
    height: auto;
    overflow-y: scroll;
}

/* md and bigger */
@media (min-width: 768px) {
    #map,
    #addresses {
        max-height: 600px;
    }
}